
/*
 * Default configurations for the page
 */

* {
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    color: #555;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
}
header {
    background-color: #e8554e;
    width: 50%;
    line-height: 60px;
    color: white;
    position: relative;
}
header:before {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 60px solid #e8554e;
    border-right: 60px solid transparent;
    position: absolute;
    left: 100%;
    top: 0px;
}
header h1 {
    margin: 0 7px;
}
.container {
    width: 75%; /* for 1920x1080 or larger screen */
    margin: auto; /* Centered */  
    display: flex;
    flex-flow: row;
}
.container>div, .col {
    margin: 5px 5px;
    padding: 15px;
}
.container>.left {
    width: 40%;
}
.container>.right {
    flex-grow: 1;
}
.container .left>div, .container .right>div {
    background: #FFF;
    margin: 25px 0;
    border-radius: 5px;
    box-shadow: 0 0 12px #ccc;
}
.content {
    padding: 20px;
}