
/*
 * Default configurations for the page
 */

* {
    box-sizing: border-box;
}

body {
    background: #F5F5F5;
    color: #555;
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: normal;
    font-family: 'Nunito', sans-serif;
}
header {
    background-color: #e8554e;
    width: 50%;
    line-height: 60px;
    color: white;
    position: relative;
    z-index: 10;
}
header:before {
    content: "";
    width: 0px;
    height: 0px;
    border-top: 60px solid #e8554e;
    border-right: 60px solid transparent;
    position: absolute;
    left: 100%;
    top: 0px;
    z-index: 10;
}
header h1 {
    margin: 0 7px;
    opacity: 0;
    transition: opacity .5s;
}
header h1.in-viewport {
    opacity: 1;
    transition-delay: 0.5s;
}
.container {
    width: 75%; /* for 1920x1080 or larger screen */
    margin: auto; /* Centered */  
    display: flex;
    flex-flow: row;
}
.container>div, .col {
    margin: 0 5px;
    padding: 3px 15px;
}
.container>.left {
    width: 40%;
}
.container>.right {
    flex-grow: 1;
}
.container .left>div, .container .right>div {
    background: #FFF;
    margin: 25px 0;
    border-radius: 5px;
    box-shadow: 0 0 12px #ccc;
}
.content {
    padding: 20px;
}

/* Responsive */
@media screen and (max-width: 320px) {
    header {
        display: block;
        padding: 10px;
        width: 100%!important;
        line-height: inherit!important;
    }
    header:before {
        content: "";
        display: none!important;
    }
    header h1 {
        font-size: 17pt!important;
        margin: auto;
    }
    .container {
        width: 100%!important;
        flex-flow: column!important;
        padding: 5px!important;
    }
    .container>div {
        width: 100%!important;
        margin: 0!important;
        padding: 5px!important;
    }
    .container .left>div, .container .right>div, .col {
        margin: 10px 5px!important;
    }
    .content {
        padding: 5px!important;
    }
    .icon {
        font-size: 18pt!important;
    }
    .banner {
        height: auto!important;
        flex-flow: column!important;
    }
    .dp-container {
        height: 155px!important;
        width: 155px!important;
        padding: 3px!important;
        margin: 15px auto!important;
    }
    .profile-info {
        text-align: center;
    }
    .profile-info {
        text-align: center;
    }
    .profile-social {
        justify-content: center!important;
    }
    .profile-social a {
        margin: 2px 5px;
    }
    .skill-info {
        padding: 3px!important;
        flex-flow: column!important;
        justify-content: flex-start!important;
    }
    .skill .skill-info h4 {
        font-size: 12pt!important;
    }
    .skill .skill-info p {
        font-size: 9pt!important;
        margin: 0!important;
    }
    .skill-controls .icon {
        font-size: 11pt!important;
    }
    .timeline .description h1 {
        font-size: 15pt!important;
    }
    .portfolio {
        width: 100%!important;
    }
    .projects {
        display: flex!important;
        flex-flow: column;
        padding: 5px!important;
    }
    .project {
        height: auto!important;
        margin: 10px 0!important;
        border: 1px solid #ddd;
        box-shadow: none!important;
    }
    .project-img {
        height: 115px!important;
    }
    .project-overlay {
        position: static!important;
        opacity: 1!important;
        background: #FFF!important;
        color: #555!important;
        display: block!important;
        border-top: 1px solid #ddd;
    }
    .project-overlay h1 {
        margin: 5px!important;
        font-size: 11pt!important;
    }
    .project-overlay a{
        margin: 5px!important;
        font-size: 9pt!important;
        padding: 3px 9px!important;
    }
    .project-overlay p {
        font-size: 10pt!important;
    }
    .project-overlay .icon {
        font-size: 8pt!important;
    }
}
@media screen and (max-width: 375px) and (min-width: 321px) {
    header {
        display: block;
        padding: 10px;
        width: 100%!important;
        line-height: inherit!important;
    }
    header:before {
        content: "";
        display: none!important;
    }
    header h1 {
        font-size: 17pt!important;
        margin: auto;
    }
    .container {
        width: 100%!important;
        flex-flow: column!important;
        padding: 5px!important;
    }
    .container>div {
        width: 100%!important;
        margin: 0!important;
        padding: 5px!important;
    }
    .container .left>div, .container .right>div, .col {
        margin: 10px 5px!important;
    }
    .content {
        padding: 5px!important;
    }
    .icon {
        font-size: 18pt!important;
    }
    .banner {
        height: auto!important;
        flex-flow: column!important;
    }
    .dp-container {
        height: 155px!important;
        width: 155px!important;
        padding: 3px!important;
        margin: 15px auto!important;
    }
    .profile-info {
        text-align: center;
    }
    .profile-social {
        justify-content: center!important;
    }
    .profile-social a{
        margin: 3px 7px !important;
    }
    .skill-info {
        padding: 3px!important;
        flex-flow: column!important;
        justify-content: flex-start!important;
    }
    .skill .skill-info h4 {
        font-size: 12pt!important;
    }
    .skill .skill-info p {
        font-size: 9pt!important;
        margin: 0!important;
    }
    .skill-controls .icon {
        font-size: 11pt!important;
    }
    .timeline .description h1 {
        font-size: 15pt!important;
    }
    .portfolio {
        width: 100%!important;
    }
    .projects {
        display: flex!important;
        flex-flow: column;
        padding: 5px!important;
    }
    .project {
        height: auto!important;
        margin: 10px 0!important;
        border: 1px solid #ddd;
        box-shadow: none!important;
    }
    .project-img {
        height: 115px!important;
    }
    .project-overlay {
        position: static!important;
        opacity: 1!important;
        background: #FFF!important;
        color: #555!important;
        display: block!important;
        border-top: 1px solid #ddd;
    }
    .project-overlay h1 {
        margin: 5px!important;
        font-size: 11pt!important;
    }
    .project-overlay a{
        margin: 5px!important;
        font-size: 9pt!important;
        padding: 3px 9px!important;
    }
    .project-overlay p {
        font-size: 10pt!important;
    }
    .project-overlay .icon {
        font-size: 8pt!important;
    }
}

@media screen and (max-width: 425px) and (min-width: 376px) {
    header {
        display: block;
        padding: 10px;
        width: 100%!important;
        line-height: inherit!important;
    }
    header:before {
        content: "";
        display: none!important;
    }
    header h1 {
        font-size: 17pt!important;
        margin: auto;
    }
    .container {
        width: 100%!important;
        flex-flow: column!important;
        padding: 5px!important;
    }
    .container>div {
        width: 100%!important;
        margin: 0!important;
        padding: 5px!important;
    }
    .container .left>div, .container .right>div, .col {
        margin: 10px 5px!important;
    }
    .content {
        padding: 5px!important;
    }
    .icon {
        font-size: 18pt!important;
    }
    .banner {
        height: auto!important;
        flex-flow: column!important;
    }
    .dp-container {
        height: 155px!important;
        width: 155px!important;
        padding: 3px!important;
        margin: 15px auto!important;
    }
    .profile-info {
        text-align: center;
    }
    .profile-social {
        justify-content: center!important;
    }
    .profile-social a {
        margin: 4px 8px;
    }
    .skill-info {
        padding: 3px!important;
        flex-flow: column!important;
        justify-content: flex-start!important;
    }
    .skill .skill-info h4 {
        font-size: 12pt!important;
    }
    .skill .skill-info p {
        font-size: 9pt!important;
        margin: 0!important;
    }
    .skill-controls .icon {
        font-size: 11pt!important;
    }
    .timeline .description h1 {
        font-size: 15pt!important;
    }
    .portfolio {
        width: 100%!important;
    }
    .projects {
        display: flex!important;
        flex-flow: column;
        padding: 5px!important;
    }
    .project {
        height: auto!important;
        margin: 10px 0!important;
        border: 1px solid #ddd;
        box-shadow: none!important;
    }
    .project-img {
        height: 115px!important;
    }
    .project-overlay {
        position: static!important;
        opacity: 1!important;
        background: #FFF!important;
        color: #555!important;
        display: block!important;
        border-top: 1px solid #ddd;
    }
    .project-overlay h1 {
        margin: 5px!important;
        font-size: 11pt!important;
    }
    .project-overlay a{
        margin: 5px!important;
        font-size: 9pt!important;
        padding: 3px 9px!important;
    }
    .project-overlay p {
        font-size: 10pt!important;
    }
    .project-overlay .icon {
        font-size: 8pt!important;
    }
}
@media screen and (max-width: 768px) and (min-width: 426px) {
    header {
        display: block;
        padding: 10px;
        width: 100%!important;
        line-height: inherit!important;
    }
    header:before {
        content: "";
        display: none!important;
    }
    header h1 {
        font-size: 17pt!important;
        margin: auto;
    }
    .container {
        width: 100%!important;
        flex-flow: column!important;
        padding: 5px!important;
    }
    .container>div {
        width: 100%!important;
        margin: 0!important;
        padding: 5px!important;
    }
    .container .left>div, .container .right>div, .col {
        margin: 10px 5px!important;
    }
    .content {
        padding: 5px!important;
    }
    .icon {
        font-size: 18pt!important;
    }
    .banner {
        height: auto!important;
        flex-flow: column!important;
    }
    .dp-container {
        height: 225px!important;
        width: 225px!important;
        padding: 3px!important;
        margin: 15px auto!important;
    }
    .profile-info {
        text-align: center;
    }
    .skill-info {
        padding: 3px!important;
        flex-flow: column!important;
        justify-content: flex-start!important;
    }
    .skill .skill-info h4 {
        font-size: 12pt!important;
    }
    .skill .skill-info p {
        font-size: 9pt!important;
        margin: 0!important;
    }
    .skill-controls .icon {
        font-size: 11pt!important;
    }
    .timeline .description h1 {
        font-size: 15pt!important;
    }
    .portfolio {
        width: 100%!important;
    }
    .projects {
        display: flex!important;
        flex-flow: column;
        padding: 5px!important;
    }
    .project {
        height: auto!important;
        margin: 10px 0!important;
        border: 1px solid #ddd;
        box-shadow: none!important;
    }
    .project-img {
        height: 275px!important;
    }
    .project-overlay {
        position: static!important;
        opacity: 1!important;
        background: #FFF!important;
        color: #555!important;
        display: block!important;
        border-top: 1px solid #ddd;
    }
    .project-overlay h1 {
        margin: 5px!important;
        font-size: 11pt!important;
    }
    .project-overlay a {
        margin: 5px!important;
        font-size: 9pt!important;
        padding: 3px 9px!important;
    }
    .project-overlay p {
        font-size: 10pt!important;
    }
    .project-overlay .icon {
        font-size: 8pt!important;
    }
}
@media screen and (max-width: 1024px) and (min-width: 769px) {
    .container {
        width: 100%!important;
        padding: 5px!important;
    }
    .container>div {
        margin: 0!important;
        padding: 5px!important;
    }
    .container .left>div, .container .right>div, .col {
        margin: 10px 5px!important;
    }
    .content {
        padding: 5px!important;
    }
    .banner {
        height: 75vh!important;
    }
    .timeline .description h1 {
        font-size: 15pt!important;
    }
    .portfolio {
        width: 100%!important;
    }
    .project {
        height: 325px!important;
    }
}