/*
* Banner
*/
.banner {
    height: 100vh;
    display: flex;
    flex-flow: row;
    justify-content: Center;
}
.banner>div {
    margin: auto 20px;
}
.dp-container {
    height: 275px;
    width: 275px;
    border-radius: 50%;
    padding: 7px;
    background: #FFF;
    box-shadow: 0 0 12px #ccc;
}
.dp {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    background-image: url(../images/neil.jpg);
    background-position: center;
    background-size: cover;
}
.profile-info .profile-social {
    padding: 5px;
    margin: 10px;
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
}
.main-info h2, .main-info h6{
    margin: 0;
}
.main-info h1 {
    margin: 0;
    font-size: 28pt;
}
.profile-contacts{
    padding: 20px 0;
}
.profile-contacts h3 {
    font-size: 12pt;
}
.profile-contacts .download {
    display: inline-block;
    text-decoration: none;
    color: #FFF;
    background: #e8554e;
    box-shadow: 3px 3px 6px #ccc;
    padding:5px 15px;
    border-radius: 50px;
    transition: background 0.5s;
}
.profile-contacts .download:hover{
    background: #cf443d;
}
/* Banner - END - */

/* Introduction */
.introduction .content p {
    text-align: justify;
    padding: 10px;
}

/* Timeline */
.app-timeline {
    flex-grow: 1;
}
.timeline { /* Timeline Container */
    position: relative;
    margin: auto;
}

.timeline::after { /* Actual Time"LINE" */
    content: '';
    position: absolute;
    width: 2px;
    background-color: #e8554e;
    top: 25px;
    bottom: 15px;
    left: 30%;
    margin-left: -3px;
    z-index: 1;
}
.timeline-item { /* Container for descriptions / date /etc */
    display: flex;
    flex-flow: row;
    margin: 10px 0;
}
.date {
    position: relative;
    width: 30%;
    padding: 30px;
    text-align: right;
}
.date::after { /* Timeline DOT */
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    right: -7px;
    background-color: #e8554e;
    border: 1px solid #df5757;
    top: 28px;
    border-radius: 50%;
    z-index: 1;
}
.description {
    width: 60%;
    margin: auto;
    padding: 20px;
    border-bottom: 1px dashed rgb(161, 161, 161);
}
.timeline .location {
    font-size: 10pt;
}
.timeline .date h3 {
    margin: 0;
    color: rgb(100, 100, 100);
    font-size: 9pt;
}
.timeline .description h1 {
    margin: 0;
    font-size: 20pt;
}
.timeline p:first-of-type {
    font-size: 11pt;
}
.timeline p:last-of-type {
    font-size: 10pt;
    color: #a5a5a5;
}

/* Timeline -END- */

/* Skills */

.skills, .add-skills {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(auto, auto);
    grid-gap: 15px;
    padding: 5px;
    margin: 15px 0;
}
.add-skills {
    border-top: 1px dashed #ddd;
}
.skill {
    border: 1px solid #ddd;
    border-radius: 3px;
    overflow: hidden;
}
.skill-info {
    padding: 7px;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}
.skill .skill-info h4{
    font-size: 13pt;
    margin: 0;
}
.skill .skill-info p {
    font-size: 10pt;
    margin: auto 5px;
    color: #808080;
    font-family: sans-serif;
}
.progress-bar {
    height: 5px;
    width: 100%;
    background: #bdbdbd;
}
.progress-bar .bar-fill {
    height: 100%;
    background: #7c7c7c;
}
.skill-controls button {
    display: block;
    outline: none;
    border: none;
    background: none;
    background: #e8554e;
    color: #FFF;
    margin: 5px auto;
    padding: 10px 15px;
    border-radius: 4px;
    font-size: 11pt;
    box-shadow: 3px 3px 12px rgb(175, 175, 175);
    transition: background 0.5s;
}
.skill-controls button:hover {
    background: #dd3027;
    cursor: pointer;
}
.skill-controls .icon {
    font-size: 11pt;
}
/* Skills - END - */

/* Contacts */
.contacts {
    text-align: center;
}
.content .social {
    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    padding: 20px;
}
/* Contacts - END - */

/* Portfolio */
.portfolio {
    width: 75%;
    margin: auto;
    background: #FFF;
    box-shadow: 0 0 12px #ccc;
    border-radius: 5px;
}
.projects {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-auto-rows: minmax(275px, auto);
    grid-gap: 15px;
    padding: 10px;
}
.project {
    height: 425px;
    position: relative;
    overflow: hidden;
    border-radius: 4px;
    box-shadow: 0 0 12px rgb(151, 151, 151);
}
.project-img {
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.maadds {
    background-image: url(../images/MAADDSEnterprise.jpg);
}
.triton {
    background-image: url(../images/TritonSwimClub.jpg);
}
.cvm {
    background-image: url(../images//CbsuaCvmPoll.png);
}
.project-overlay {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
    background: rgba(0,0,0,0.7);
    color: #FFF;
    opacity: 0;
    transition: opacity 0.5s;
}
.project:hover .project-overlay {
    opacity: 1;
}
.project-overlay h1, .project-overlay p {
    margin: 0;
}
.project-overlay a {
    text-decoration: none;
    display: inline-block;
    margin: 7px auto;
    border-radius: 50px;
    padding: 5px 15px;
    transition: background 0.5s;
}
.project-overlay a.git {
    background: #35495e;
    color: #FFF;
}
.project-overlay a.visit {
    background: #42b883;
    color: #FFF;
}
.project-overlay a.git:hover {
    background: #283747;
}
.project-overlay a.visit:hover {
    background: #36976c;
}
.project-overlay .icon {
    font-size: 11pt;
}

/*  icons */
.icon {
    font-size: 22pt;
}
.github {
    color: #333;
}
.twitter {
    color: #55acee;
}
.mes {
    color: #0084ff;
}

/* Footer */
footer {
    width: 75%;
    margin: auto;
    text-align: center;
}
.footer-social {
    padding: 25px;
}
.footer-social a{
    margin: 15px;
}
footer .copy {
    font-size: 11pt;
}